<div class="profile-tile">
  <!--TODO: Show the user's profile picture-->
  <img class="avatar" ng-src= "{{ctrl.profile.profilePic}}">
  <div class="text-center">
    <div>
      <h3>
        <!--TODO: show the user's name-->
        {{ctrl.profile.name}}
      </h3>
    </div>
    <div class=text-center>
      <!--TODO: show the user's e-mail-->
      {{ctrl.profile.email}}
    </div>
    <div>
      Username: <!--TODO: show the user's username-->
      {{ ctrl.profile.username}}
    </div>
    <div>
      Age: <!--TODO: show the user's age-->
      {{ctrl.profile.age}}
    </div>
    <div>
      Favourite Color
      <!--TODO: make the background color of this div the user's favourite color-->
      <div class="fav-color" ng-style="{'background-color' : '{{ctrl.favColor }}'}"></div>
    </div>
  </div>
</div>

<div class="text-center">
  <!--TODO: Log the user out when they click this button-->
  <button class="btn btn-primary" ng-click="ctrl.logout()">Log Out</button>
</div>
